amqp==2.6.1
asgiref==3.2.10
autopep8==1.5.4
billiard==3.6.3.0
celery==4.4.7
Django==3.1
django-celery-beat==2.0.0
django-timezone-field==4.0
flower==0.9.5
humanize==2.6.0
kombu==4.6.11
prometheus-client==0.8.0
pycodestyle==2.6.0
python-crontab==2.5.1
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
tornado==6.0.4
vine==1.3.0
